@charst "utf-8";

/*
	Portfolio 
	
	Robert Blocker's Portfolio
	Author: Robert Blocker
	Date:   11/10/18
	
	Filename: reset.css
	
	-->
	
	/* Basic styles to be used with all devices and under all conditions */
	
/* HTML and Body Styles */
	
html {
	background-color: rgb(207, 222, 172);
	background: radial-gradient(rgb(207, 222, 172)) 30%, hsl(210, 50%, 40%));
}

/*Header Styles*/

header {
	color: rgb(228, 122, 46);
	text-decoration: underline;
}
	   
/*Footer Styles */
footer {
	color: rgb()
	background-color: 
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
