@charst "utf-8";

/*
	Portfolio 
	
	Robert Blocker's Portfolio
	Author: Robert Blocker
	Date:   11/10/18
	
	Filename: bio.css
	
	-->
	
*/
	
/*HTML and Body Styles*/	
html{
	background-color: rgb(112,128,144);
}

body {
	background: rgb(63, 105, 170) 100%/cover fixed;
	color: white;
	border: double;
	float: none;
	width: 90%;
	max-width: 1000px;
   min-width: 800px;
	box-shadow: rgb(71, 71, 71) -20px -10px 25px,
						rgb(71, 71, 71) 20px 10px 25px;
}

/*Navigation List Styles*/


/*Section Left Styles*/

section#leftcol h1 {
	text-shadow: black 2px 2px 2px;
}

section#leftcol p {
   font-size: 12px;
}

/*Section Right Styles*/

html{
	background-color: rgb(112,128,144);
}

